---
import Swatches from '../components/Swatches.astro'
import Tarot from '../components/Tarot.astro'
import WikiPage from '../components/WikiPage.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Random Divination">
    <div class="flex flex-col min-h-screen max-w-6xl mx-auto">
        <header class="p-8">
            <h1 class="text-4xl mb-2">Random Divination</h1>
            <p>Generate random things as a means of inspiration</p>
        </header>
        <main class="flex-grow relative">
            <div class="p-8 space-y-8">
                <WikiPage />
                <Swatches />
                <Tarot />
            </div>
        </main>
        <footer class="p-8 text-right">
            <p>By Daniel Westbrook</p>
        </footer>
    </div>
</Layout>
