---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Random Divination">
    <div class="flex flex-col min-h-screen max-w-6xl mx-auto">
        <header class="p-8">
            <h1 class="text-xl">Random Divination</h1>
        </header>
        <main class="flex-grow">
            <div class="p-8">
                <p>Random things here</p>
            </div>
        </main>
        <footer class="p-8 text-right">
            <p>By Daniel Westbrook</p>
        </footer>
    </div>
</Layout>
